@value colorWhite, defaultFontColor, listBoxShadow, colorLightGrey, colorRed from "../../common/colors.css";

@value smallMargin, mediumMargin, smallFontTitle, smallFontData, smallFontYesterday, mediumFontTitle, mediumFontData, mediumFontYesterday from "../../common/size.css";

.box {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 8rem;
  margin: smallMargin;
  justify-content: center;
  align-items: center;
  background-color: colorLightGrey;
  box-shadow: listBoxShadow;
  position: relative;
}

.title,
.data {
  color: defaultFontColor;
  text-align: center;
  padding: smallMargin;
}

.title {
  font-size: smallFontTitle;
}

.data {
  font-size: smallFontData;
}

.yesterday {
  position: absolute;
  bottom: 0.6rem;
  font-size: smallFontYesterday;
  font-weight: bold;
  color: colorRed;
}

@media screen and (min-width: 650px) {
  .box {
    width: 30%;
    height: 9rem;
    margin: mediumMargin;
  }

  .title {
    font-size: mediumFontTitle;
  }

  .data {
    font-size: mediumFontData;
  }

  .yesterday {
    font-size: mediumFontYesterday;
  }
}
