@value defaultFontColor, listBoxShadow, colorBlueGrey, colorWhite from "../../common/colors.css";
@value largeFontSize, smallFontTitle, mediumMargin, smallMargin  from "../../common/size.css";

.vaccination {
  flex-basis: 80%;
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
  font-size: largeFontTitle;
  color: defaultFontColor;
  margin-bottom: 0;
}

.subTitle {
  text-align: center;
  font-size: smallFontTitle;
  color: defaultFontColor;
  opacity: 0.5;
}

.total,
.region__list {
  display: flex;
  justify-content: center;
}

.total {
  flex-direction: column;
  align-items: center;
}

.region__list {
  padding-bottom: mediumMargin;
}

.table {
  border-collapse: collapse;
  border-color: colorWhite;
  position: relative;
  display: none;
  margin: smallMargin;
}

.table__head .table__td {
  background-color: colorBlueGrey;
}

.table__td {
  text-align: center;
  color: defaultFontColor;
  padding: smallMargin calc(smallMargin * 2);
  width: 7.5rem;
}

.small_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .total {
    flex-direction: row;
  }

  .table {
    display: block;
  }

  .small_list {
    display: none;
  }
}
