@value colorWhite, defaultFontColor, listBoxShadow, colorLightGrey, colorRed from "../../../common/colors.css";
@value smallFontTitle, smallFontData, smallMargin, largeFontTitle from "../../../common/size.css";

.box {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: smallMargin;
  padding: smallMargin;
  align-items: center;
  background-color: colorLightGrey;
  box-shadow: listBoxShadow;
  position: relative;
}

.title {
  color: defaultFontColor;
  font-size: largeFontTitle;
  margin-bottom: smallMargin;
}

.content_box {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: defaultFontColor;
}

.content__title {
  font-size: smallFontTitle;
}

.content__content {
  font-size: smallFontData;
}

.yesterday {
  font-weight: bold;
  color: colorRed;
}
