@value listBoxShadow, defaultFontColor, colorLightGrey, colorRed from "../../../common/colors.css";

.name {
  color: defaultFontColor;
  width: 4rem;
  padding: 0.5em 1em;
  margin-right: 1em;
  box-shadow: listBoxShadow;
  background-color: colorLightGrey;
}

.element {
  color: defaultFontColor;
  width: 8rem;
  padding: 0.5em 1em;
  margin-right: 1em;
  box-shadow: listBoxShadow;
  background-color: colorLightGrey;
}

.yesterday {
  color: colorRed;
  font-weight: bold;
}
