@value listBoxShadow, defaultFontColor, colorLightGrey, colorRed from "../../../common/colors.css";
@value smallMargin, mediumMargin, tableMargin from "../../../common/size.css";

.element {
  color: defaultFontColor;
  background-color: colorLightGrey;
  text-align: center;
  margin: tableMargin;
  padding: smallMargin;
  box-shadow: listBoxShadow;
}

.yesterday {
  color: colorRed;
  font-weight: bold;
}
.infection {
  color: colorRed;
  font-weight: bold;
}
