@value defaultFontColor, listBoxShadow, colorBlueGrey from "../../common/colors.css";
@value titleSize from "../../common/size.css";

.overseas {
  flex-basis: 80%;
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
  font-size: titleSize;
  color: defaultFontColor;
  margin-bottom: 0;
}

.subTitle {
  text-align: center;
  font-size: 0.8rem;
  color: defaultFontColor;
  opacity: 0.5;
}

.total,
.country__list {
  display: flex;
  justify-content: center;
}

.country__list {
  padding-bottom: 2em;
}

table {
  border-collapse: collapse;
  border-color: colorWhite;
}

thead {
  background-color: colorBlueGrey;
}

tr,
td {
  text-align: center;
  color: defaultFontColor;
}

td {
  padding: 0.5em 1.2em;
  width: 7.5rem;
}

.small_list {
  display: none;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .total {
    flex-direction: column;
    align-items: center;
  }

  table {
    display: none;
  }

  .small_list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
