@value defaultFontColor, listBoxShadow, colorBlueGrey, colorWhite from "../../common/colors.css";
@value largeFontTitle, smallFontTitle, smallMargin, mediumMargin, mediumFontTitle, tableMargin from "../../common/size.css";

.overseas {
  flex-basis: 80%;
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
  font-size: largeFontTitle;
  color: defaultFontColor;
  margin-bottom: 0;
}

.subTitle {
  text-align: center;
  font-size: smallFontTitle;
  color: defaultFontColor;
  opacity: 0.5;
}

.total,
.country__list {
  display: flex;
  justify-content: center;
}

.total {
  flex-direction: column;
  align-items: center;
}

.country__list {
  padding-bottom: mediumMargin;
}

.table {
  width: 70%;
  margin: auto;
  position: relative;
  display: none;
  background-color: colorWhite;
}

.table__head .table__td {
  background-color: colorBlueGrey;
}

.table__tr {
  width: 100%;
  display: grid;
  grid-template-columns: 35% 40% 25%;
}

.table__td {
  text-align: center;
  color: defaultFontColor;
  margin: tableMargin;
  padding: smallMargin;
  box-shadow: listBoxShadow;
}

.small_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .total {
    flex-direction: row;
  }

  .table {
    display: block;
  }

  .small_list {
    display: none;
  }
}
