@value colorWhite, colorLightGrey, colorMiddleGrey from "../../common/colors.css";

.sidebar {
  width: 100%;
  height: 100%;
  flex-basis: 20%;
  border-right: 1px solid colorMiddleGrey;
}

.title {
  text-align: center;
  font-size: 1.4rem;
  color: colorWhite;
}

.list {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  text-align: center;
  color: colorWhite;
  padding: 1em 0;
}

.active {
  background-color: colorLightGrey;
  font-weight: bold;
}
