@value colorDarkGrey from "./common/colors.css";

* {
  box-sizing: border-box;
}

.headerBox {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: colorDarkGrey;
  overflow: hidden;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
}

.route {
  overflow-y: scroll;
  width: 100%;
}

.route::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 950px) {
  .app {
    position: relative;
  }

  .route {
    margin-bottom: 5em;
  }
}
